@font-face {
    font-family: 'readex';
    src: url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
}

body{
    margin : 0;
    width : 100vw;
    height: 100vh;
}

.main_page{
    display: flex;
    align-items: stretch;
    background-color: #fbfbfb;
}
.main_tab{
    display: flex;
    flex-grow : 2;
    height: 100vh;
}
.main_content{
    display: flex;
    flex-grow : 7;
    height: 100vh;
}
.main_profile{
    display: flex;
    flex-grow : 2;
    height: 100vh;
}
.tab_box{
    margin : 2vw;
    background-color: white;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, .05);
    border-radius: 2vw;
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.tab_image{
    margin : 8vh 0 5vh 0;
    width: 13vw;
    flex-grow :1;
}


.button_box{
    flex-grow :1;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.true.button_component{
    transition: all 0.2s;
    color : black
}
.button_component{
    transition: all 0.2s;
    border : none;

    
    font-family: 'readex';
    font-size: 1.3vw;
    font-weight: 800;
    color : #808080;

    background-color: transparent;

}
.button_component:hover{
    cursor : pointer;
}
.true.button_bar{
    transition: all 0.2s;
    background-color: #C1272D;
}
.button_bar{
    transition: all 0.2s;
    background-color: white;
    height : 0.4vw;
    width : 3vw;
    border-radius: 0.25vw;
    margin : 0.2vw 0;
}




.profile_box{
    align-self: center;
    background-color: white;
    box-shadow: -1px 0px 2vw rgba(0, 0, 0, .05);
    border-radius: 2vw 0 0 2vw;
    width: 16.67vw;
    height : 43vh;
}